{% extends 'base_login.html' %}

{% block content %}
  {% if validlink %}
    <div class="card-body px-lg-5 py-lg-5">
              <div class="text-center text-muted mb-4">
                <h3>Cambiar contraseña</h3>
              </div>
              
              <form role="form" method="post" >
              
                {% csrf_token %}
                <div class="form-group">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                    </div>
                    <input id="new_password1" name="new_password1" class="form-control" placeholder="Nueva contraseña" type="password">
                  </div>
                </div>
                {% if form.errors %}
                    <p class=" text-center label label-danger">
                        {{form.errors}}
                    </p>
                {% endif %}
                <div class="form-group">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                    </div>
                    <input id="id_password" name="new_password2" class="form-control" placeholder="Confirmar nueva contraseña" type="password">
                  </div>
                </div>
                
                <div class="text-center">
                  <button type="submit" class="btn btn-primary my-4">Cambiar contraseña</button>
                </div>
              </form>
            </div>
  {% else %}
    <div class="card-body px-lg-5 py-lg-5">
              <div class="text-center text-muted mb-4">
                <h3>Error!</h3>
                <small>El enlace para restablecer la contraseña no es válido, posiblemente porque ya se ha utilizado. Por favor, solicite una nueva contraseña para restablecer.</small>
              </div>
              <div class="text-center">
              <a class="btn btn-primary my-4" href="{% url "login" %}">Volver a iniciar sesión</a>
                </div>
            </div>
  {% endif %}


{% endblock %}

