{% extends 'base_login.html' %}

{% block content %}
 
  <div class="card-body px-lg-5 py-lg-5">
              <div class="text-center text-muted mb-4">
                <h3> Su contraseña ha sido establecida. Usted puede seguir adelante e <a href="{% url 'login' %}"> iniciar sesión</a> ahora.</h3>
              </div>
              <div class="text-center">
              <a class="btn btn-primary my-4" href="{% url "login" %}">Iniciar sesión</a>
                </div>
            </div>
{% endblock %}